@import '../../styles/variables.scss';

.spinLoader {
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.studentList {
	max-width: 100%;
	max-height: 50vh;
	margin-top: 4rem;
	padding: 0.5rem 4rem;
	background-color: #fff;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	animation: fadeInAnimation 0.5s;

	@media (max-width: 768px) {
		max-height: 30vh;
		margin-top: 2rem;
		padding: 0.5rem;
	}

	@media (min-width: 768px) {
		&::-webkit-scrollbar {
			background-color: #fff;
			width: 16px;
		}
		&::-webkit-scrollbar-track {
			background-color: #fff;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #babac0;
			border-radius: 16px;
			border: 4px solid #fff;
		}
	}

	table {
		border-spacing: 0 2rem;
	}

	@media (max-width: 768px) {
		border-spacing: 0 0.5rem;
	}
}

.errorText {
	h1 {
		color: #fff;
		font-size: 2rem;
		text-align: center;
	}
}
