@import '../../styles/variables.scss';

.studentRow {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	height: 4rem;
	border-radius: 12px;
	padding: 0;

	@media (max-width: 768px) {
		height: 2rem;
		font-size: 14px;
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;
	
	}

	.left {
		text-align: left;
		padding-left: 1.5rem;
		font-weight: 500;

		@media (max-width: 768px) {
			padding-left: 0.5rem;
		}
	}

	.center {
		text-align: center;
		font-weight: 500;
	}

	.right {
		text-align: right;
		width: 40%;
		padding-right: 1.5rem;
		font-weight: 500;

		@media (max-width: 768px) {
			padding-left: 0.5rem;
		}
	}
}
